.game-results{
  margin: 5% 0 0 2%;
  width: 30%;
}

.card-team-result{
  border-top: 1px solid rgb(167 161 161);
  display: flex;
  margin: 5% 0 5% 0;
  padding: 10px 0 0 5px;
}

.label-result{
  display: block;
  margin: 10% 0 0 0;
}

.score-result{
  margin: 0 3% 0 3%;
}
