<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{team?.full_name}} [{{team?.abbreviation}}]</mat-card-title>
      <mat-card-subtitle>{{team?.conference}} conference</mat-card-subtitle>
      <img mat-card-sm-image [src]="imageSrc">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <label>Results of past 12 days : </label>
    <div class="results-12-days">
      <label [ngClass]="{
                          'match-result-icon': true,
                          'match-win': game.isWon,
                          'match-lose': !game.isWon
                        }"
      *ngFor="let game of games">{{game.isWon ? 'W' : 'L'}}</label>
    </div>
    <label class="average-label">Avg pts scored: <strong>{{averagePointsScored}}</strong></label>
    <label class="average-label">Avg pts conceded: <strong>{{averagePointsConceded}}</strong></label>
  </mat-card-content>
</mat-card>
